table > thead > tr > th{
	display: none;
}

table > tbody > tr > td {
	display: none;
}

table > thead > tr > th:nth-child(1),
table > thead > tr > th:nth-child(2) {
 display:  table-cell;
}

table > tbody > tr > td:nth-child(1),
table > tbody > tr > td:nth-child(2){
  display:  table-cell;
}