<!DOCTYPE html>
<html>

<head>
  	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="product" content="Metro UI CSS Framework">
    <meta name="description" content="Simple responsive css framework">
    <meta name="author" content="Sergey S. Pimenov, Ukraine, Kiev">
	<title>Home</title>
	{% block tittleLoading %}

		{% load staticfiles %}
		<link href="{{ STATIC_URL }}css/metro-bootstrap.css" rel="stylesheet">
	    <link href="{{ STATIC_URL }}css/metro-bootstrap-responsive.css" rel="stylesheet">
	    <link href="{{ STATIC_URL }}css/iconFont.css" rel="stylesheet">
	    <link href="{{ STATIC_URL }}css/docs.css" rel="stylesheet">
	    <link href="{{ STATIC_URL }}js/prettify/prettify.css" rel="stylesheet">	
	    <link href="{{ STATIC_URL }}css/page.css" rel="stylesheet">
	    <link rel="stylesheet" media="(max-width:800px)" type="text/css" href="{{STATIC_URL}}css/mobile.css">


		<script type="text/javascript"  src="{{ STATIC_URL }}js/angular.min.js"></script>

	{% endblock tittleLoading %}

	{% block extraScript %}

	{% endblock extraScript %}

</head>

<body class="metro">
<div class="">
<div class="row">
	<div class="bannerMain"  >
		<img   src="{{STATIC_URL}}images/tiles-bg.jpg" />
	</div>
</div>
{% csrf_token %}
{%	block nav %}
            <div class="navigation-bar">
                <div class="navigation-bar-content">

                    <a href="/" class="element"><span class="icon-grid-view"></span> METRO UI CSS <sup>2.0</sup></a>
                    <span class="element-divider"></span>

                    <a class="pull-menu" href="#"></a>
                    <ul class="element-menu">
                        <li>
                            <a class="dropdown-toggle" href="#">Base CSS</a>
                            <ul class="dropdown-menu" data-role="dropdown">
                                <li><a href="requirements.html">Requirements</a></li>
                                <li>
                                    <a href="#" class="dropdown-toggle">General CSS</a>
                                    <ul class="dropdown-menu" data-role="dropdown">
                                        <li><a href="global.html">Global styles</a></li>
                                        <li><a href="grid.html">Grid system</a></li>
                                        <div class="divider"></div>
                                        <li><a href="typography.html">Typography</a></li>
                                        <li><a href="tables.html">Tables</a></li>
                                        <li><a href="forms.html">Forms</a></li>
                                        <li><a href="buttons.html">Buttons</a></li>
                                        <li><a href="images.html">Images</a></li>
                                    </ul>
                                </li>
                                <li class="divider"></li>
                                <li><a href="responsive.html">Responsive</a></li>
                                <li class="disabled"><a href="layouts.html">Layouts and templates</a></li>
                                <li class="divider"></li>
                                <li><a href="icons.html">Icons</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="dropdown-toggle"  href="#">Community</a>
                            <ul class="dropdown-menu" data-role="dropdown">
                                <li class="disabled"><a href="http://blog.metroui.net">Blog</a></li>
                                <li class="disabled"><a href="http://forum.metroui.net">Community Forum</a></li>
                                <li class="divider"></li>
                                <li><a href="https://github.com/olton/Metro-UI-CSS">Github</a></li>
                                <li class="divider"></li>
                                <li><a href="https://github.com/olton/Metro-UI-CSS/blob/master/LICENSE">License</a></li>
                            </ul>
                        </li>
                    </ul>

                    <div class="no-tablet-portrait">
                        <span class="element-divider"></span>
                        <a class="element brand" href="#"><span class="icon-spin"></span></a>
                        <a class="element brand" href="#"><span class="icon-printer"></span></a>
                        <span class="element-divider"></span>

                        <div class="element input-element">
                            <form>
                                <div class="input-control text">
                                    <input type="text" placeholder="Search...">
                                    <button class="btn-search"></button>
                                </div>
                            </form>
                        </div>

                        <div class="element place-right">
                            <a class="dropdown-toggle" href="#"><span class="icon-cog"></span></a>
                            <ul class="dropdown-menu place-right" data-role="dropdown">
                                <li><a href="#">Products</a></li>
                                <li><a href="#">Download</a></li>
                                <li><a href="#">Support</a></li>
                                <li><a href="#">Buy Now</a></li>
                            </ul>
                        </div>
                        <span class="element-divider place-right"></span>
                        <button class="element image-button image-left place-right">
                            Marvin el que sena
                            <img src="{{STATIC_URL}}images/marvin.jpg"/>
                        </button>
                    </div>
                </div>
            </div>
{%	endblock nav %}
<div class="row">
	<section>
		{% block  body %}

		 {% endblock %}
	</section>
</div>
</div>
	{% load staticfiles %}
      	
      	<script src="{{ STATIC_URL }}js/jquery/jquery.min.js"></script>
	    
	    <script src="{{ STATIC_URL }}js/jquery/jquery.widget.min.js"></script>
	    
	    <script src="{{ STATIC_URL }}js/jquery/jquery.mousewheel.js"></script>

	    <script src="{{ STATIC_URL }}js/prettify/prettify.js"></script>


		<script src="{{ STATIC_URL }}js/load-metro.js"></script>

		<script src="{{ STATIC_URL }}js/metro.min.js"></script>
     {% block extraJS%}{% endblock extraJS%}
	</body>
</html>