{% verbatim %}
<div ng-app="user" class="">

	<div ng-controller="UserAdminCtrl" class="" >
		<form>
				<div class="grid">
					<div class="row">

						<div class="span12">
							<div class="row">	
								<div class="span6">
									<div class="input-control text ">
										<label>Name </label>
										<input type="text" ng-model="user.name" value="" placeholder=" Name "/>
									</div>
								</div>
								

								<div class="span6">
									<div class="input-control text">

										<label>Last Name </label>
										<input type="text" ng-model="user.last_name" value="" placeholder=" Last Name "/>
										
									</div>
								</div>
							</div>
							<div class="row">
									<div class="span6">
										<div class="input-control email">
											<label>Email </label>
											<input type="email" ng-model="user.email" value="" placeholder=" Email "/>
										</div>
									</div>
								<div class="span6">
									<div class="input-control text">

										<label>Phone</label>
										<input type="tel" value="" ng-model="user.phone" placeholder=" Last Name "/>
										
									</div>
								</div>

							</div>
								
							
						<div class="row">
							<div class="span3">
								<button class=" "  onclick="Javascript:return false;" ng-click="search()" ><i class="icon-search on-right"></i>Buscar</button>
							</div>
							<div class="span9"></div>
						</div>
						</div>
						</div>
					</div>
		</form>
		<hr />
				<table class="table bordered striped">
						<thead>
							<tr>
								<th ng-repeat="value in headers">
									{{value}}
								</th>
								<th>OPTIONS</th>
							</tr>
						</thead>
						<tbody>
							
							<tr ng-repeat="user in users">
								<td>{{user.username   || "not specified" }}</td>
								<td>{{user.first_name || "not specified" }}</td>
								<td>{{user.last_name  || "not specified" }}</td>
								<td>{{user.email      || "not specified" }}</td>
								<td ng-click="edit()">
									<a href="#">Edit<i class="icon-pencil on-right"></i></a>
									<a href="#">Delete<i class="icon-remove on-left"></i><a>
								</td>
							</tr>
						</tbody>
				</table>
	</div>
</div>	
{% endverbatim %}