<!DOCTYPE html>
{% extends "layout.html" %}


	{% block extraScript %}
		<script type="text/javascript" src="{{STATIC_URL}}js/user.js"></script>
	{% endblock extraScript %}
	<!--Angular enable tag-->

	{% block body %}
		
   
		{% verbatim %}
		<div class="panel">
		    <div class="panel-header bg-lightBlue fg-white">
		        UserAdministration
		    </div>
		    <div class="panel-content">
					<div class="tab-control" data-role="tab-control">
					    <ul class="tabs">
					        <li class="active"><a href="#_page_1">Administrate Users</a></li>
					        <li><a href="#_page_2">Other Tab</a></li>
					        <li><a href="#_page_3"><i class="icon-rocket"></i></a></li>
					        <li class="place-right"><a href="#_page_4"><i class="icon-cog"></i></a></li>
					    </ul>
					 
					    <div class="frames">
					        <div class="frame" id="_page_1">
					        	{% endverbatim %}
					        		{% include "Users/AdministrationModule.html" %}
					        	{% verbatim %}
					        </div>
					        <div class="frame" id="_page_2">...</div>
					        <div class="frame" id="_page_3">...</div>
					    </div>
					</div>

		    </div>
		</div>

		{% endverbatim %}

{% endblock body %}
{% block extraJS%}
	
{% endblock extraJS%}